.skills-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  z-index: 1;
  align-items: center;
  margin-bottom: 30px;
}

.skills-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  gap: 12px;
}

@media (max-width: 960px) {
  .skills-wrapper {
    flex-direction: column;
  }
}

.skills-title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  color: #f2f3f4;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .skills-title {
    margin-top: 12px;
    font-size: 32px;
  }
}

.skills-desc {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  color: #b1b2b3;
  margin-bottom: 20px;
  max-width: 800px;
  letter-spacing: 0.03rem;
}

@media (max-width: 768px) {
  .skills-desc {
    font-size: 16px;
  }
}

.skills-sub-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 50px;
  justify-content: center;
}

.skill {
  width: 100%;
  max-width: 500px;
  background-color: rgba(17, 25, 40, 0.83);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 1rem 2rem;
}

@media (max-width: 768px) {
  .skill {
    max-width: 400px;
    padding: 0.7rem 2rem;
  }
}

@media (max-width: 500px) {
  .skill {
    max-width: 330px;
    padding: 10px 36px;
  }
}

.skill-title {
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 20px;
  text-align: center;
  color: #b1b2b3;
}

.skill-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.skill-item {
  font-size: 0.9rem;
  font-weight: 400;
  color: #f2f3f4cc;
  border: 1px solid #f2f3f4;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  letter-spacing: 0.03rem;
}

@media (max-width: 768px) {
  .skill-item {
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 500px) {
  .skill-item {
    font-size: 14px;
    padding: 6px 12px;
  }
}

.skill-img {
  width: 24px;
  height: 24px;
}
